/* CSS declarations go here */

body {
    background: #111;
}
img.huge {
    width: 750px;
}
img.large {
    width: 450px;
}
img.medium {
    width: 250px;
}
img.small {
    width: 150px;
}
img.tiny {
    width: 100px;
}

img.avatar {
    border: 4px double #000;
}
.textcontent {
    color: #FFF;
}
.toppadding {
    padding-top: 10px;
}
.well.dark {
    background-color: #333333;
    border:1px solid #212121;
}
input.dark {
    background-color: #333333;
    border:1px solid #212121;
}