/* Custom classes not related to Bootstrap */

@import url(http://fonts.googleapis.com/css?family=Cuprum);
.cuprum {
    font-family: 'Cuprum', sans-serif;
}
img.huge {
    width: 650px;
    height:auto;
}
img.large {
    width: 390px;
    height:auto;
}
img.medium {
    width: 200px;
    height:auto;
}
img.small {
    width: 130px;
    height:auto;
}
img.tiny {
    width: 50px;
    height:auto;
}
img.micro {
    width: 25px;
    height:auto;
}
img.avatar {
    border: 4px double #000;
}
.textcontent {
    color: #FFF;
}
.toppadding {
    padding-top: 10px;
}
.well.dark {
    background-color: #333333;
    border: 1px solid #212121;
}
input.dark {
    background-color: #333333;
    border: 1px solid #212121;
}
.unit {
    height: 85px;
    overflow-y: auto;
    word-wrap: break-word;
}
.double-unit {
    height: 216px;
    overflow-y: auto;
    word-wrap: break-word;
}
.triple-unit {
    height: 347px;
    overflow-y: auto;
    word-wrap: break-word;
}
.quad-unit {
    height: 478px;
    overflow-y: auto;
    word-wrap: break-word;
}
.centerme {
    #padding-top: 5px;
}

.wraptext {
    word-wrap:break-word;
}

p.counter {
    font-size: 24pt;
}
table.text-center thead tr th, table.text-center tbody tr td {
    text-align: center;
}
.profilecircle {
    width: 70px;
    height: 70px;
    vertical-align:middle;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 50%;
    border: 3px solid #aaa;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

/* Drafting Page */
/************************************************/
.drafting-page-top
{
    height:180px;
    overflow-y:auto;
}
.subpage-title
{
    text-align: center; 
    font-size:40px;
    font-weight: bolder;
    color:#c4a77b;
}
.drafting-time
{
    text-align: center;
    font-size:60px;
    font-weight: bolder;
    color:#f2b613;
}
.drafting-turn
{
    text-align:center;
    color:#13abf2;
    font-size:20px;
}
.drafting-radiant-title
{
    text-align:left;
    color:#5AA043;
    font-size:30px;
}
.drafting-dire-title
{
    text-align:right;
    color:#DB2020;
    font-size:30px;    
}
.drafting-team-wrapper
{
    height: 130px;
}

.drafting-radiant .drafting-team-wrapper img
{   
    float:left;
}
.drafting-dire .drafting-team-wrapper img
{   
    float:right;
}
.drafting-members-wrapper
{
    width: calc(100% - 140px);
    height: 130px;
    display:inline-block;
    float:right;
}
.drafting-radiant .drafting-teammate, .drafting-radiant .drafting-captain
{
    border:2px solid #5AA043
}
.drafting-dire .drafting-teammate, .drafting-dire .drafting-captain
{
    border:2px solid #DB2020;
}
.drafting-captain
{
    height: 130px;
    margin: 0px 5px 0px 5px;
}
.drafting-teammate
{
    height: 55px;
    width:100%;
    margin:5px 0 5px 0;
    display:block;
    text-align: center;
}
.member-name
{
    width:calc(100% - 53px);
    height:51px;
    word-wrap:break-word;
    overflow-y:auto;
    
}
.drafting-radiant .drafting-teammate
{
    float:left;
}
.drafting-dire .drafting-teammate
{
    float:right;
}
.drafting-radiant .drafting-teammate-pic
{
    height: 51px;
    border-right:2px solid #5AA043;
}
.drafting-dire .drafting-teammate-pic
{
    height: 51px;
    border-left:2px solid #DB2020;
}

.drafting-page-bottom h1
{
    display:inline;
    color:#c4a77b;
}
.drafting-page-bottom-title
{
    margin:10px;
    height:50px;
}
.drafting-note
{
    display:inline;
    float: right;
    margin-top:16px;
    vertical-align: bottom;
}

.drafting-pool
{
    display:block;
    border:2px solid #000000;
    border-radius:5px;
    overflow:auto;
    height:500px;
}
.drafting-divider
{
    border:2px solid #c4a77b;
    border-radius:5px;
    margin:20px;
}
/************************************************/


/* Match Page */
/************************************************/
.match .radiant .teammate img
{
    height:51px;
    border-right:#5AA043 2px solid;
    float:left;
}
.match .dire .teammate img
{
    height:51px;
    border-left:#DB2020 2px solid;
    float:right;
}
.teammate
{
    height: 55px;
    width:100%;
    margin:10px 0 10px 0;
    display:block;
    text-align: center;
}
.radiant .teamtitle
{
    text-align: left;
    color:#5AA043;
}
.dire .teamtitle
{
    text-align: right;
    color:#DB2020;
}
.radiant .teammate
{
    border:#5AA043 2px solid;
}
.dire .teammate
{
    border:#DB2020 2px solid;
}
.radiant .winlose
{
    display: block;
    float:right;
}
.dire .winlose
{
    display: block;
    float:left;
}

/*Landing Page*/
/*************************************************/
.landing p
{
    font-size: 18px;
    color:#b2b2b2;
}

.whatisaygl.bottom
{
    background-image: url("../wave.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height:150px;
}
.rubicktext
{
    float:left;
    display:inline-block;
    width:70%;
}
.rubick
{
    display:inline-block;
    float:right;
    width:30%;
    padding:10px;
}
.rubick img
{
    height:auto;
    width:100%;
}
.whatisaygl.title
{
    display:inline-block;
    padding: 15px 50px 0px 0px;
    height:85px;
    background-image: url("../waveLeft.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: auto 75px;
}
.prizes.title
{
    float:right;
    display:inline-block;
    padding: 10px 0px 0px 50px;
    height:85px;
    width: 200px;
    background-image: url("../waveRight.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: auto 85px;
}
.prizes .well
{
    border:5px solid #00BC8C;
    background-color: #222222;
}
.prizes .info
{
    font-size:50px;
    text-align: center;
}

.break
{
    height:50px;
}

.aygldifferent
{
    background-image: url("../wave2.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    height:150px;
}

.phases
{
    background-image: url("../.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.footer
{
    width:100%;
    height:auto;
}
.landing .title
{
    font-size:40px;
    font-weight: bolder;
    color:#c4a77b;
}


/*

Direct Modification to bootstrap classes

*/

body {
    font-family: 'Cuprum', sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Cuprum', sans-serif;
}
.panel-body {
    padding: 10px;
}
.panel-heading {
    padding: 2px 15px;
}